/* Global */

:root {
    /* Color */

     /* Font weight */
     --weight-bold: 700;
     --weight-semi-bold: 600;
     --weight-regular: 400;
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section_container {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.section_title h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.section_title p {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 0 10px;
    font-size: var(--font-regular);
    color: #d3d3d3;
}

.section_title p::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 0;
    right: 0;
    border-bottom: 3px solid #d3d3d3;
}

/* img_title, img_text */

.img_title {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
}

.img_text{
    font-size: var(--font-micro);
}

/* Header */
#header {
    position: fixed;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background: #fff;
}

.logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.menu {
    display: flex;
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}

.menu li {
    padding: 8px 12px;
}

.menu li:hover {
    background-color: beige;
}
.menu li a{
    color: black;
}
.search i {
    font-size: var(--font-regular);
}


.toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: var(--font-medium);

}
/* Home */

.img_wrap {
    position: relative;
}

.img_wrap .img_bg img {
    width: 100%;
    height: 700px;
}

.img_wrap .txt_wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img_wrap .txt_wrap .txt_title {
    position: relative;
}
.img_wrap .txt_wrap .txt_title::before {
    position: absolute;
    top: -35px;
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 20px auto;
}
.img_wrap .txt_wrap .txt_title::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid black;
    margin: 20px auto;
}

.img_wrap .txt_wrap .txt_title  {
    text-align: center;
}

.img_wrap .txt_wrap .txt_title span {
    display: inline-block;
}

.img_wrap .txt_wrap .txt_title span:first-child {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin-bottom: 5px;
}

.img_wrap .txt_wrap .txt_title span:last-child {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
}

.img_wrap .txt_wrap .txt01 {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: var(--weight-semi-bold);
}

/* Section about */

.equipment_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.equipment_list li:nth-child(3),
.equipment_list li:last-child {
    margin-top: 50px;
}
.equipment_list li img {
    width: 555px;
    height: 245px;
    margin-bottom: 10px;
}

.equipment_list li a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: 1px solid #d3d3d3;
}




@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }
    #header {
        flex-direction: column;
        position: relative;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }

    .menu li:hover {
        background: black;
    }

    .menu li:hover  a{
    
        color: #ffd700;
    }

    .search {
        display: none;
    }

    .toggleBtn {
        display: block;
    }

    .menu.active {
        display: flex;
    }

    .img_wrap .txt_wrap .txt01 {
        text-align: center;
    }
    
    .equipment_list li img {
        width: 100%;
    }
    
}

